.ion-list .ion-item .ion-card {
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.card-background-page {
    ion-card {
        position: relative;
        text-align: center;
    }
    // .card-title {
    //     width: 50%;
    //     margin: 0%;
    //     // position: absolute;
    //     // top: 36%;
    //     // font-size: 2.0em;
    //     // width: 100%;
    //     // font-weight: bold;
    //     // color: #fff;
    // }
    // .card-subtitle {
    //     width: 50%;
    //     margin: 0%;
    //     // font-size: 1.0em;
    //     // position: absolute;
    //     // top: 52%;
    //     // width: 100%;
    //     // color: #fff;
    // }
}